# Flask Session
**/flask_session/

# Python cache
**/__pycache__/


# Python environment
**/venv/
**/.venv/
**/testenv/

# Dot env
**/.env

# Database
# dictionary.db
psql_dictionary.sql
dict.csv

# Flask instance
instance/

# Test requirements
requirements1.txt
.vercel
